html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Gemunu Libre', sans-serif;
    background-image: url('back.jpg');
}

.container {
    margin-top: 50px;
}
.header1 {
    margin-top: -45px;
    height: 150px;
    background-color: black;
}

.logo {
    margin-left: 33%;
    width: 300px;
    position: relative;
}

#main {
    margin-left: 120px;
    margin-right: 120px;
    padding: 50px;
    background: lightgray;
    position: relative;
}

.button {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid lightgray;
}


.carsbox,
.radio-box,
.checkbox {
    border: 1px solid gray;
    width: 68vw;
    padding: 40px;
    font-size: 20px;
}

.option {
    padding-top: 5px;
    padding-bottom: 5px;
}

#girl-answer {
    font-size: 33px;
    color: red;
}

.car {
    width: 200px;
    margin-left: 10px;
    display: inline-block;
    transition: transform 0.5s;
    opacity: 0.8;
    overflow: hidden;

    border: 3px solid transparent;
    /* stops jumping imgs */
}

.car:hover {
    transform: scale(1.5);
    /* (150% zoom) */
    opacity: 1;
    z-index: 9999;
}

.highlitedcar {
    border: 3px solid yellow;
}

.chosencar {
    border: 3px solid black;
    opacity: 1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;

}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    border: 1px solid black;
}


.hidden {
    display: none;
}

.errormodal {
    font-family: arial, sans-serif;
    text-align: center;
    line-height: 100px;
    position: absolute;
    width: 500px;
    background: rgb(255, 253, 253);
    opacity: 0.9;
    z-index: 1000;
    top: 30vh;
    left: 50vh;
}

.error p {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
}

.error-frame {
    border: 1px solid red;
}

.buttonerror {
    text-align: center;
    top: 38vh;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(35, 206, 26);
    border-radius: 5px;
    
}
